//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 09 13:41:27 2018
//! **************************************************************************

SCHEMATIC START;
COMP "dp" LOCATE = SITE "N13" LEVEL 1;
COMP "aaa" LOCATE = SITE "A7" LEVEL 1;
COMP "bbb" LOCATE = SITE "M4" LEVEL 1;
COMP "ccc" LOCATE = SITE "C11" LEVEL 1;
COMP "ddd" LOCATE = SITE "G12" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "din" LOCATE = SITE "A3" LEVEL 1;
COMP "x<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "x<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "x<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "x<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "y<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "y<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "y<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "y<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "y<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "y<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "y<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "y<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "sclk" LOCATE = SITE "B5" LEVEL 1;
COMP "sync" LOCATE = SITE "B2" LEVEL 1;
COMP "an<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "an<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "L14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

